- name: Create tmp dir
  ansible.builtin.tempfile:
    state: directory
  changed_when: false
  register: tmp_dir

- name: Clone scripts repo
  ansible.builtin.git:
    depth: 1
    dest: "{{ tmp_dir.path }}"
    repo: https://github.com/like-a-glitch/scripts.git
  changed_when: false

- name: Remove license and .git dir
  ansible.builtin.file:
    path: "{{ tmp_dir.path }}/{{ item }}"
    state: absent
  changed_when: false
  loop:
    - .git
    - LICENSE

- name: Copy scripts to /usr/local/bin/
  ansible.builtin.copy:
    dest: /usr/local/bin/
    mode: '755'
    src: "{{ tmp_dir.path }}/"

- name: Remove tmp dir
  ansible.builtin.file:
    path: "{{ tmp_dir.path }}"
    state: absent
  changed_when: false