# https://mozilla.github.io/policy-templates

- name: Create firefox dir
  file:
    group: root
    mode: '755'
    owner: root
    path: '/etc/firefox'
    state: directory

- name: Create policies dir
  file:
    group: root
    mode: '755'
    owner: root
    path: '/etc/firefox/policies'
    state: directory

- name: Copy policies file
  copy:
    dest: '/etc/firefox/policies/policies.json'
    group: root
    mode: '644'
    owner: root
    src: policies.json

- name: Set firefox as default for pdf
  become_user: "{{ remote_user_name }}"
  changed_when: false
  command: xdg-mime default firefox_firefox.desktop application/pdf