- name: Install mpv
  ansible.builtin.apt:
    name: mpv

- name: Create config dir
  ansible.builtin.file:
    group: "{{ remote_user_name }}"
    mode: '700'
    owner: "{{ remote_user_name }}"
    path: "/home/{{ remote_user_name }}/.config/mpv"
    state: directory

- name: Copy keybindings file
  ansible.builtin.copy:
    dest: "/home/{{ remote_user_name }}/.config/mpv/input.conf"
    group: "{{ remote_user_name }}"
    mode: '644'
    owner: "{{ remote_user_name }}"
    src: input.conf

- name: Copy settings file
  ansible.builtin.copy:
    dest: "/home/{{ remote_user_name }}/.config/mpv/mpv.conf"
    group: "{{ remote_user_name }}"
    mode: '644'
    owner: "{{ remote_user_name }}"
    src: mpv.conf

- name: Create scripts dir
  ansible.builtin.file:
    group: "{{ remote_user_name }}"
    mode: '700'
    owner: "{{ remote_user_name }}"
    path: "/home/{{ remote_user_name }}/.config/mpv/scripts"
    state: directory

- name: Create tmp dir
  ansible.builtin.tempfile:
    state: directory
  changed_when: false
  register: tmp_dir

- name: Clone mpv_sponsorblock repo
  ansible.builtin.git:
    dest: "{{ tmp_dir.path }}"
    repo: https://github.com/po5/mpv_sponsorblock.git
  changed_when: false

- name: Copy sponsorblock files 1
  ansible.builtin.copy:
    dest: "/home/{{ remote_user_name }}/.config/mpv/scripts/"
    group: "{{ remote_user_name }}"
    mode: '644'
    owner: "{{ remote_user_name }}"
    src: "{{ tmp_dir.path }}/sponsorblock.lua"

- name: Copy sponsorblock files 2
  ansible.builtin.copy:
    dest: "/home/{{ remote_user_name }}/.config/mpv/scripts/"
    group: "{{ remote_user_name }}"
    mode: '700'
    owner: "{{ remote_user_name }}"
    src: "{{ tmp_dir.path }}/sponsorblock_shared"

- name: Remove tmp dir
  ansible.builtin.file:
    path: "{{ tmp_dir.path }}"
    state: absent
  changed_when: false