[Unit]
After=graphical-session.target
BindsTo=graphical-session.target

[Service]
ExecStart=/home/{{ remote_user_name }}/.virtualenv/streamdeck/bin/python3 /home/{{ remote_user_name }}/.virtualenv/streamdeck/streamdeck.py
KillMode=process

[Install]
WantedBy=graphical-session.target