- name: Install required packages
  ansible.builtin.apt:
    name:
      - libhidapi-libusb0
      - virtualenv

# https://github.com/abcminiuser/python-elgato-streamdeck
- name: Install streamdeck
  ansible.builtin.pip:
    name:
      - pillow
      - streamdeck
    virtualenv: "/home/{{ remote_user_name }}/.virtualenv/streamdeck"
  become_user: "{{ remote_user_name }}"

- name: Copy udev rules
  ansible.builtin.copy:
    dest: /etc/udev/rules.d/
    group: root
    mode: '644'
    owner: root
    src: 10-streamdeck.rules

- name: Copy user service file
  ansible.builtin.template:
    dest: "/home/{{ remote_user_name }}/.config/systemd/user/streamdeck.service"
    group: "{{ remote_user_name }}"
    mode: '644'
    owner: "{{ remote_user_name }}"
    src: streamdeck.service.j2

- name: Enable streamdeck user service
  ansible.builtin.systemd:
    daemon_reload: true
    enabled: true
    name: streamdeck
    scope: user
    state: started
  become_user: "{{ remote_user_name }}"