- name: Create content dir
  ansible.builtin.file:
    group: "{{ remote_user_name }}"
    mode: '700' 
    owner: "{{ remote_user_name }}"
    path: "/home/{{ remote_user_name }}/syncthing-main"
    state: directory